.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.toggled {
  background-color: #16232E;
}

.row {
  display: flex;
  align-items: center;
}

.row:hover {
  cursor: pointer;
}

.row-toggle {
  justify-content: space-between;
  margin-bottom: 0.75em;
}

.row-redirect {
  justify-content: flex-start;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.label {
  color: white;
}

.label-provider {
  font-size: 1.5em;
}

.label-service {
  font-size: 1.25em;
}

.logo {
  margin-right: 0.5em;
}