.navbar {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  background-color: #3F5E7A;
  border-left: solid;
}

.navbar h1 {
  font-size: 1em;
  text-align: center;
  color: white;
}