.navbar {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: fixed;
  right: 0;
  background-color: lightblue;
}

.navbar h1 {
  font-size: 1em;
  text-align: center;
}