.main-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  overflow: auto;
}

h1, h2 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

header > img {
  width: 5em;
  margin-right: 1em;
}

.content {
  width: 60vw;
  flex-grow: 1;
}

.content-entry {
  margin-bottom: 1.5em;
}

.content-entry > h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.content-entry > p {
  margin: 0;
}

.contact-entry > label {
  margin-right: 1em;
}

.link {
  width: fit-content;
  margin-bottom: 3em;
}

.display-msg-service{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 2em;
}