body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3F5E7A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  color: white;
  background-color: #049DD2;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 0.5em;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #03759b;
}